<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="./icon.png" type="image/png">
    <meta charset="UTF-8">
    <title>System Status</title>
    <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>
    <h1>System Status</h1>
    <div id="status"></div>
    <script>
        fetch('/system_status')
            .then(response => response.json())
            .then(data => {
                document.getElementById('status').innerText = JSON.stringify(data, null, 2);
            });
    </script>
</body>
</html>
